@font-face {
  font-family: linksFont;
  src: url(src/links.TTF);
}

a {
    font-family: linksFont;
    font-size:20px;
    color: #424baa;
    
}

a:hover {
     color: #6e42aa;
}

.header {
   text-align: center;
}

body {
    background-color: #212121;
    
}

p {

}

.forme p {
  color: #dbdbdb;
  font-family: verdana;
  font-size: 15px;
  text-align: center 
    
}

.content-index h1 {
  color: #ffffff;
  font-family: verdana;
  font-size: 20px;
  text-align: center 
}

.content-index p {
    font-family: verdana;
    font-size:18px;
    color: white;
    text-align:center;
    
}

.content-index a {
    font-family: linksFont;
    color: #fced49;

}

.content-index a:hover {
    color: #fc9349;
}

.content-sites h1 {
    color: #fced49;
    font-family: verdana;
    font-size: 25px;
    text-align: center;
}

.content-sites h2 {
    margin: 30px;
    color: #ffffff;
    font-family: verdana;
    font-size: 18px;
}

.content-sites p {
    margin: 50px;
    color: #ffffff;
    font-family: verdana;
    font-size: 15px;
}

.link-title {
    color: #fced49;
    font-family: verdana;
    font-size: 25px;
    text-align: center;
}
